* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  padding: 32px;

  display: flex;
  flex-direction: column;
}

.sidebar-name {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 48px;
}

.sidebar-nav a {
  text-decoration: none;
  color: #555555;
}

.main-content {
  flex: 1;
  padding: 48px;
}
